{% extends 'core/base.html' %}
{% load static %}
{% block content %}
      <!-- Hero Area Start -->
    {% include 'core/hero.html' %}
    <!-- Header Area wrapper End -->

    <!-- Services Section Start -->
    {% include 'core/services.html' %}
    <!-- Services Section End -->

    <!-- About Section start -->
    {% include 'core/about.html' %}
    <!-- About Section End -->

    <!-- Features Section Start -->
    {% include 'core/features.html' %}
    <!-- Features Section End -->

    <!-- Team Section Start -->
    {% include 'core/team.html' %}
    <!-- Team Section End -->

    <!-- Pricing section Start -->
    {% include 'core/prices.html' %}
    <!-- Pricing Table Section End -->

    <!-- Testimonial Section Start -->
    {% include 'core/testimonials.html' %}
    <!-- Testimonial Section End -->

    <!-- Call To Action Section Start -->
    {% include 'core/call.html' %}
    <!-- Call To Action Section Start -->

    <!-- Contact Section Start -->
    {% include 'core/contatc.html' %}
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    {% include 'core/footer.html' %}
    <!-- Footer Section End -->

{% endblock %}