{% load static %}
<section id="team" class="section-padding bg-gray">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Meet our team</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
            {% for e in employees %}
              {% if e.active %}
              <!-- Team Item Starts -->
            <div class="col-md-6 col-sm-12 my-2">
              <div class="card border-0 shadow">
                <div class="row card-body">
                  <div class="col-sm-4 col-md-4 col-lg-4">
                  <img class="img-fluid" src="{{ e.image.url }}" alt="" style="max-height: 200px;">
                  </div>

                <div class="col-sm-8 col-md-8 col-lg-8">
                    <p class="h5 text-bold card-title">{{ e.name }}</p>
                    <p>{{ e.role }}</p>
                    <p>{{ e.bio }}</p>
                  <div class="">
                   <a href="{{ e.facebook }}"><i class="btn btn-link lni-facebook-filled" aria-hidden="true"></i></a>
                   <a href="{{ e.twitter }}"><i class="lni-twitter-filled" aria-hidden="true"></i></a>
                    <a href="{{ e.instagram }}"><i class="lni-instagram" aria-hidden="true"></i></a>
                </div>
                </div>
                </div>
              </div>
              </div>
              <!-- Team Item Ends -->
            {% else %}

            {% endif %}
          {% endfor %}
          </div>
      </div>
    </section>